.listItems{
    box-sizing: border-box;
    justify-content: left;
}

.listItems ul{
    padding-left: 0;
}

.listItems li {
    position: relative;
    margin-bottom: 1%;
    width:auto;
    height: 35px;
    padding: 15px;
    list-style-type: none;
    cursor: pointer;
}

.listItems li[weatherindicator=null]{
    background-color: white;
}

.listItems li[weatherindicator=bkn_-ra_d]{
    background-color: #e0e0e0;
}
.listItems li[weatherindicator=bkn_-sn_d]{
    background-color: #ecf6f8;
}

.listItems li[weatherindicator=bkn_d]{
    background-image: linear-gradient(#f7fcff, #fff8de);
}

.listItems li[weatherindicator=bkn_ra_d]{
    background-color: #e0e0e0;
}

.listItems li[weatherindicator=bkn_sn_d]{
    background-color: #ecf6f8;
}

.listItems li[weatherindicator=bl]{
    background-color: #ecf6f8;
}

.listItems li[weatherindicator=fg_d]{
    background-image: linear-gradient(lightgray, #fff8de, lightgray);
}

.listItems li[weatherindicator=ovc]{
    background-image: linear-gradient(white, lightskyblue);
}

.listItems li[weatherindicator=ovc_-ra]{
    background-color: #e0e0e0;
}

.listItems li[weatherindicator=ovc_-sn]{
    background-color: #ecf6f8;
}

.listItems li[weatherindicator=ovc_ra]{
    background-color: #e0e0e0;
}

.listItems li[weatherindicator=ovc_sn]{
    background-color: #ecf6f8;
}

.listItems li[weatherindicator=ovc_ts_ra]{
    background-image: linear-gradient(white, lightyellow, dodgerblue);
}

.listItems li[weatherindicator=skc_d]{
    background-image: linear-gradient(#fff8de, #fff8de);
}

.listItems span {
    display: flex;
    justify-content: space-between;
}

.listItems span.dayofWeek {
    font-size: 120%;
}

.listItems span.briefDate {
    font-size: 80%;
    margin-top: -5px;
}

.listItems span.degrees {
    font-size: 120%;
}

.listItems span.icon img{
    margin-left: 20px;
    width: 30px;
    height: 30px;
    margin-top: -5px;
}