.listItems{
    box-sizing: border-box;
    justify-content: left;
}

.listItems ul{
    padding-inline-start: 0;
}

.listItems li {
    position: relative;
    width:auto;
    height: 35px;
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: lightgrey;
    list-style-type: none;
    cursor: pointer;
}

.listItems span {
    display: flex;
    justify-content: space-between;
}

.listItems span.dayofWeek {
    font-size: 120%;
}

.listItems span.briefDate {
    font-size: 80%;
}

.listItems span.degrees {
    font-size: 120%;
}

.listItems span.icon {
    margin-left: 20px;
}